.mfc-configurator {
  .mfc-color-container {
    display: block;
    padding-left: 0;
    list-style: none;
    &:first-of-type {
      margin-top: 16px;
    }

    &:after {
      display: table;
      clear: both;
    }

    & li {
      display: inline-block;

      & input.mfc-color-radio {
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
        & + label {
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-right: 8px;
          margin-bottom: 8px;
          cursor: pointer;
          border-radius: 50%;
          transition: box-shadow 0.2s, transform 0.2s;

          &:hover {
            box-shadow: 0 3px 8px rgba(0,0,0,0.2);
            transform: scale(1.2);
          }
        }
        &:checked + label {
          position: relative;
          box-shadow: 0 5px 10px rgba(0,0,0,0.2);
          transform: scale(1.3);

          &:after {
            position: absolute;
            top: 15px;
            left: 10px;
            width: 16px;
            height: 3px;
            content: '';
            background: #fff;
            transform: rotate(-45deg);
          }

          &:before {
            position: absolute;
            top: 18px;
            left: 7px;
            width: 8px;
            height: 3px;
            content: '';
            background: #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
