.material-ripple {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
.material-ink {
  position: absolute;
  background: #bdc3c7;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.4;
}

.material-ink.animate {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
#mfc-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  width: 56px;
  height: 56px;
  cursor: pointer;
  background: #e53935;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: background 0.8s;
  z-index: 9999;

  justify-content: center;
  align-items: center;

  &:hover {
    background: #ef5350 radial-gradient(circle, transparent 1%, #ef5350 1%)
    center/15000%;
  }

  &:active {
    background-color: #ef9a9a;
    background-size: 100%;
    transition: background 0s;
  }

  & svg, & img {
    position: absolute;
    right: 16px;
    bottom: 16px;
    transition: all 0.3s;
    width: 24px;
    height: 24px;

    &.mfc-icon-close {
      opacity: 0;
    }
  }

  & svg {
    position: absolute;
    right: 16px;
    bottom: 16px;
    transition: all 0.3s;

    &.mfc-icon-close {
      opacity: 0;
    }
  }

  &.mfc-active {
    background: #111 !important;
    & svg, & img {
      transform: rotate(180deg);
    }
    & .mfc-icon-cart, & img {
      opacity: 0;
    }

    & .mfc-icon-close {
      opacity: 1;
    }
  }
}
#mfc-cart {
  position: fixed;
  top: 16px;
  z-index: 9999;
  left: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 104px);
  padding: 16px;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.2s;
  transform: scale(0.8) translateY(32px);
  transform-origin: calc(100% - 54px) 100%;
  pointer-events: none;
  &.mfc-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: auto;
  }
  & .mfc-cart-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &.mfc-active {
      display: block;
    }
    & .mfc-loader {
      position: relative;
      margin: 0 auto;
      margin-top: calc(40% - 50px);
      width: 100px;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }

    .mfc-circular {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .mfc-path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke: #555;
      stroke-linecap: round;
    }
  }
  & .mfc-cart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &:after{
      content:"";
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: 12px solid #FEFEFE;
      bottom: -22px;
      right: 18px;
      position: absolute;
    }
    & hr {
      width: 100%;
      height: 1px;
      background: #DDD;
      border: none;
      margin: 0;
    }
    & p.mfc-subtitle{
      font-size: 14px;
    }
    & .mfc-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      border-bottom: 1px solid #BBB;
      padding-bottom: 17px;
      padding-top: 10px;
      & .mfc-title{
        font-size: 32px;
        margin: 0;
        float: left;
      }
      & .mfc-subtitle{
        margin: 0;
        font-size: 12px;
        color: #888;
        float: right;
      }
    }
    & .mfc-empty{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      flex-direction: column;
      & svg {
        width: 128px;
        height: 128px;
        fill: #888;
      }
      & p {
        color: #666;
      }
    }
    & ul.mfc-products {
      padding: 0 0 16px 0;
      margin: 0;
      list-style: none;
      overflow: scroll;
      overflow-x: hidden;
      flex-grow: 1;

      justify-content: space-between;
      & li {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #DDD;
        &:last-child {
          border-bottom: none;
        }
        &.mfc-active {
          & .mfc-more{
            max-height: 100em;
            opacity: 1;
            transition: max-height 0.4s cubic-bezier(1,0,1,0);
          }
          & .mfc-quantity{
            height: 0 !important;
          }
        }

        & .mfc-item {
              width: 100%;
          & .mfc-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;

            flex-grow: 1;

            & img {
              width: 40px;
              height: 40px;
              margin-right: 12px;
              border-radius: 50%;
            }
            & .mfc-name {
              margin-bottom: 6px;
              overflow: hidden;
              height: 17px;
              & span{
                width: 999%;
              }
            }
            & .mfc-price {
              position: relative;
              margin-left: 8px;
              & small{
                color: #888;
                position: absolute;
                bottom: -18px;
                font-size: 10px;
                right: 0;
              }
            }
            & .mfc-details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              flex-grow: 1;
              overflow: hidden;

              & .mfc-quantity {
                color: #888;
                transition: height .2s ease;
                font-size: 14px;
                height: 16px;
              }
            }
          }
        }

        & .mfc-more{
          max-height: 0;
          opacity: 0;
          width: 100%;
          overflow: hidden;
          transition: max-height 0.3s cubic-bezier(0,1,0,1);
          & p {
            margin: 0 0 16px 0;
            font-size: 14px;
            color: #666;
          }

          & .mfc-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            & .mfc-quantity-selector{
              width: 100px;
              height: 32px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              & span{
                font-size: 20px;
              }
            }
            & .mfc-button {
              background: #e53935;
              height: 32px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border: none;
              color: #fefefe;
              text-transform: uppercase;
              line-height: 30px;
              &:disabled{
                background: #CCC !important;
              }
              &.mfc-icon{
                width: 32px;
              }
              &.mfc-icon{
                width: 32px;
                & svg{
                  margin-right: 0;
                }
              }
              & svg{
                width: 24px;
                height: 24px;
                margin-right: 8px;
              }
              &.mfc-circle {
                border-radius: 50%;
              }
              &.mfc-rounded {
                border-radius: 5px;
              }
              &.mfc-flat {
                background: transparent;
                color: #111;
              }
            }
          }
        }
      }
    }
    & .mfc-total{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      color: #999;
      margin: 16px 0;

      & .mfc-value{
        color: #111;
        text-transform: none;
        font-size: 24px;
      }
    }
    & .mfc-total-details{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #111;
      font-size: 14px;
      margin: 8px 0;
      & .mfc-value{
        color: #BBB;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
