#mfc-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  z-index: 9999;
  height: 56px;
  cursor: pointer;
  background: #e53935;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.8s;
          transition: background 0.8s;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-button:hover {
  background: #ef5350 radial-gradient(circle, transparent 1%, #ef5350 1%) center/15000%;
}
#mfc-button:active {
  background-color: #ef9a9a;
  background-size: 100%;
  -webkit-transition: background 0s;
          transition: background 0s;
}
#mfc-button svg {
  position: absolute;
  right: 16px;
  bottom: 16px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
#mfc-button svg .mfc-icon-close {
  opacity: 0;
}
#mfc-button.mfc-active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#mfc-button.mfc-active .mfc-icon-cart {
  opacity: 0;
}
#mfc-button.mfc-active .mfc-icon-close {
  opacity: 1;
}

#mfc-cart {
  position: fixed;
  top: 16px;
  z-index: 9999;
  left: 16px;
  display: -webkit-box;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 32px);
  height: calc(100% - 104px);
  padding: 16px;
      flex-direction: column;
  background: #fefefe;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  -webkit-transform: scale(0.8) translateY(32px);
          transform: scale(0.8) translateY(32px);
  -webkit-transform-origin: calc(100% - 54px) 100%;
          transform-origin: calc(100% - 54px) 100%;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
#mfc-cart:after {
  position: absolute;
  right: 18px;
  bottom: -22px;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-top: 12px solid #fefefe;
}
#mfc-cart hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background: #ddd;
  border: none;
}
#mfc-cart p.mfc-subtitle {
  font-size: 14px;
}
#mfc-cart.mfc-active {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}
#mfc-cart .mfc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid #bbb;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#mfc-cart .mfc-header .mfc-title {
  float: left;
  margin: 0;
  font-size: 32px;
}
#mfc-cart .mfc-header .mfc-subtitle {
  float: right;
  margin: 0;
  font-size: 12px;
  color: #888;
}
#mfc-cart .mfc-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-direction: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
#mfc-cart .mfc-empty svg {
  width: 128px;
  height: 128px;

  fill: #888;
}
#mfc-cart .mfc-empty p {
  color: #666;
}
#mfc-cart ul.mfc-products {
  padding: 0 0 16px 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#mfc-cart ul.mfc-products li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-direction: column;
  border-bottom: 1px solid #ddd;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-cart ul.mfc-products li.mfc-active .mfc-more {
  max-height: 100em;
  opacity: 1;
  -webkit-transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
          transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
}
#mfc-cart ul.mfc-products li.mfc-active .mfc-quantity {
  height: 0 !important;
}
#mfc-cart ul.mfc-products li .mfc-item {
  width: 100%;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line .mfc-name {
  height: 17px;
  margin-bottom: 6px;
  overflow: hidden;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line .mfc-name span {
  width: 999%;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line .mfc-price {
  position: relative;
  margin-left: 8px;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line .mfc-price small {
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 10px;
  color: #888;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line .mfc-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
      flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
#mfc-cart ul.mfc-products li .mfc-item .mfc-line .mfc-details .mfc-quantity {
  height: 16px;
  font-size: 14px;
  color: #888;
  -webkit-transition: height 0.2s ease;
          transition: height 0.2s ease;
}
#mfc-cart ul.mfc-products li .mfc-more {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
          transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}
#mfc-cart ul.mfc-products li .mfc-more p {
  margin: 0 0 16px 0;
  font-size: 14px;
  color: #666;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-quantity-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 32px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-quantity-selector span {
  font-size: 20px;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
  line-height: 30px;
  color: #fefefe;
  text-transform: uppercase;
  background: #e53935;
  border: none;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button:disabled {
  background: #ccc;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button.mfc-icon {
  width: 32px;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button.mfc-icon {
  width: 32px;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button.mfc-icon svg {
  margin-right: 0;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button.mfc-circle {
  border-radius: 50%;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button.mfc-rounded {
  border-radius: 5px;
}
#mfc-cart ul.mfc-products li .mfc-more .mfc-controls .mfc-button.mfc-flat {
  color: #111;
  background: transparent;
}
#mfc-cart .mfc-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
  color: #999;
  text-transform: uppercase;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-cart .mfc-total .mfc-value {
  font-size: 24px;
  color: #111;
  text-transform: none;
}
#mfc-cart .mfc-total-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  font-size: 14px;
  color: #111;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mfc-cart .mfc-total-details .mfc-value {
  color: #bbb;
}
